{% extends 'CoreBundle:User:base.html.twig' %}

{% block title %}Profil - {{parent()}}{% endblock %}

{% block _container %}
    <div class="page-header">
        <h2>Mot De Passe</h2>
    </div>
{% endblock %}